# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
next-app/coverage

# next.js
next-app/.next/
next-app/out/

# production
next-app/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
next-app/.env*.local

# vercel
next-app/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
