@import '@/app/styles/typography.module.scss';
@import '@/app/styles/colors.module.scss';
@import '@/app/styles/responsive.module.scss';

.Button {
  background: linear-gradient(180deg, $cl-cod-gray 0%, $cl-tundora 100%);
  color: $cl-white;
  border: none;
  border-radius: 20px;
  font-weight: $w-light;
  @include text-xl;
  padding: 25px 0;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @include tablet {
    @include text-3xl;
    padding: 44px 0;
    border-radius: 46px;
  }

  @include desktop {
    @include text-3xl;
    padding: 44px 0;
    border-radius: 46px;
  }
}
