@import '@/app/styles/responsive.module.scss';

.Container {
  position: relative;
  width: 100%;

  @include desktop {
    padding-top: 70px;
  }

  &_actions {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }

  &_slides {
    display: flex;

    & > div:first-child {
      margin-left: 5vw;
    }

    & > div:last-child {
      margin-right: 5vw;
    }
  }

  @include desktop {
    &_slides {
      & > div:first-child {
        margin-left: 26vw;
      }

      & > div:last-child {
        margin-right: 26vw;
      }
    }
  }
}
