.Container {
  position: relative;
  width: 100%;
  overflow-x: scroll;

  &_actions {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }

  &_slides {
    display: flex;
    width: calc(85vw * 3);

    & div:first-child {
      margin-left: 5vw;
    }

    & div:last-child {
      margin-right: 5vw;
    }
  }
}
