@import '@/app/styles/responsive.module.scss';

.Container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 70px;
  height: 264px;

  @include tablet {
    height: 510px;
  }

  @include desktop {
    height: 510px;
  }

  &_actions {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    width: 100%;
    padding: 0 40px;
  }

  &_slides {
    display: flex;
    position: absolute;

    & > div {
      flex-shrink: 0;
      width: 85vw;

      @include tablet {
        margin: 0 1%;
      }

      @include desktop {
        width: 50vw;
      }
    }
  }
}
