@import '@/app/styles/responsive.module.scss';
@import '@/app/styles/typography.module.scss';
@import '@/app/styles/colors.module.scss';
@import '@/app/styles/layers.module.scss';

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;

  &_logo {
    margin-top: 49px;

    @include desktop {
      margin-top: 82px;
    }
  }

  &_imageContainer {
    margin-top: 75px;
    width: 585px;
    height: 814px;
    position: relative;

    &_image {
      transform: rotateY(-180deg);
    }

    @include tablet {
      position: absolute;
      margin-top: 0;
      top: 0;
      right: -264px;
    }

    @include desktop {
      width: 1113px;
      height: 1548px;
      position: absolute;
      top: 53px;
      right: -434px;
    }
  }

  &_form {
    z-index: $z-10;
    @include desktop {
      align-self: flex-start;
      margin-left: 18vw;
    }
  }

  &_welcome {
    z-index: 1;
    margin-top: 134px;
    margin-left: 8vw;
    align-self: flex-start;

    h2 {
      @include text-3xl;
      font-weight: $w-normal;
      &:first-of-type {
        color: $cl-gray;
      }

      &:last-of-type {
        @include text-2xl;
      }
    }

    @include tablet {
      margin-top: 122px;
    }

    @include desktop {
      margin-top: 160px;
      margin-left: 12vw;
    }
  }
}
