@import '@/app/styles/colors.module.scss';
@import '@/app/styles/typography.module.scss';
@import '@/app/styles/responsive.module.scss';
@import '@/app/styles/layers.module.scss';
@import '@/app/styles/components.module.scss';

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  margin-top: 52px;
  transform: translateX(-66px);
  z-index: $z-10;

  &_field {
    width: 230px;
    height: 28px;

    &:last-of-type {
      margin-top: 31px;
    }
  }

  &_input {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $cl-silver-chalice;
    padding-bottom: 11px;
    @include text-sm;
    font-weight: $w-normal;
    outline: none;

    &__error {
      color: $cl-red;
      border-bottom-color: $cl-red;

      &::placeholder {
        color: $cl-red;
      }
    }
  }

  &_error {
    visibility: hidden;
    color: $cl-red;
    @include text-sm;
    margin-bottom: 36px;
    text-align: left;

    &__active {
      visibility: visible;
    }
  }

  @include tablet {
    margin-top: 66px;
    transform: translateX(-261px);
  }

  @include desktop {
    margin-top: 92px;
    align-self: flex-start;
    transform: translateX(325px);
  }
}

.Button {
  width: 258px;
  @include text-2xl;
  font-weight: $w-extra-light;
  border-radius: 10px;
  margin-top: 75px;
  padding: 18px 0;
}
