@import '@/app/styles/colors.module.scss';
@import '@/app/styles/typography.module.scss';
@import '@/app/styles/responsive.module.scss';

.Card {
  position: relative;
  width: 85vw;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 18px;
  flex-shrink: 0;
  margin: 40px 8px 10px;

  &_imageContainer {
    width: 153px;
    height: 226px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__description {
      @include text-xsm;
      font-weight: $w-light;
      font-style: italic;
      max-width: 45%;
      color: $cl-tundora;
    }

    &__name {
      @include text-l;
      font-weight: $w-thin;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 35px;
    }

    &__price {
      @include text-base;
      font-weight: $w-thin;
    }
  }

  @include tablet {
    margin-top: 85px;
    padding-right: 40px;

    &_imageContainer {
      width: 334px;
      height: 493px;
    }

    &_content {
      &__description {
        @include text-base;
        margin-top: 117px;
        max-width: 298px;
      }

      &__name {
        @include text-3xl;
        margin-top: 145px;
      }

      &__price {
        @include text-l;
      }
    }
  }

  @include desktop {
    margin-top: 0;
    width: 50vw;
    padding: 0 40px 21px 40px;

    &_imageContainer {
      width: 334px;
      height: 493px;
    }

    &_content {
      &__description {
        @include text-base;
        margin-top: 132px;
        max-width: 335px;
      }

      &__name {
        @include text-3xl;
        margin-top: 145px;
        margin-bottom: 19px;
      }

      &__price {
        @include text-l;
      }
    }
  }
}
