@import '@/app/styles/responsive.module.scss';

.Button {
  position: relative;
  width: 32px;
  height: 68px;
  border: none;
  background: none;

  @include desktop {
    width: 64px;
    height: 136px;
  }

  &__right {
    margin-left: auto;
  }
}
